@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	background-color: #ccc;
}

.header {
	margin: 0;
	padding: 0;
}

.logo {
	max-width: 150px;
	width: 100%;
	margin: 0 auto;
	display:block;	
}

h1 {
	padding: 0;
	margin-bottom: 0;
	margin-left: 0;
	font-family: 'Prosto One', cursive;
  	font-size: 17px;
	text-align: center;
}

.subhead {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
	padding-left: 0;
	margin-top: -0em;
	text-align:center;
}

h2 {
	font-family: 'Prosto One', cursive;
  	font-size: 28px;
	padding: 0;
	margin: 0;
}

h3 {
	font-family: 'Prosto One', cursive;
  	font-size: 18px;
	padding: 0 0 1em 0;
	margin: 0;
}

.social {
	text-align:center;
	padding: 0 50px;
}

.facebook {
	width: 30px;
	margin: 2%;
	
}

.twitter {
	width: 30px;
	margin: 2%;
}

.linkedin {
	width:30px;
	margin: 2%;
}

.email {
	width: 30px;
	margin: 2%;
}

.icon {
	color: #888;
	width: 2rem;
	display: inline-block;
	
}

.quote {
	text-align:center;
	padding: 0;
}

figcaption {
	font-family:Verdana, Geneva, sans-serif;
	font-style: italic;
	font-size:10px;
	color: #000;
	padding: 0 0.4em;
}

.author {
	font-style: normal;
	font-size:10px;
	color: #999;
	padding: .5em 0 10em 10em;
	padding: 0;
}

article {
	background-color: #fff;
	padding: 0.5em;
	border-radius: 10px;
	box-shadow: 0 3px 4px grey;
}

.intro {
	color: #333;
	border-bottom: 5px solid #999;
	border-top: 5px solid #999;
	padding: 1em 0.5em;
	margin-left: -0.5em;
	margin-right: -0.5em;
	font-family: 'Rationale', sans-serif;
	font-size:14px;
	text-align: justify;
}
	
.flex-img {
	max-width: 285px;
	width: 100%;
	margin: 0 auto;
	display:block;
}

.ci {
	text-align:center;
	padding: 0 30px;
}

dt {
	font-family: 'Quattrocento Sans', sans-serif;
	font-style: normal;
	color: grey;	
	margin-top: 10px;
	text-align: center;
}

dd {
	font-family: Verdana, Geneva, sans-serif;
	font-style:normal;
	font-size: 14px;	
	color: #333;
	margin: 0;
	text-align: center;
}

figure {
	margin: 0 -0.5em;
}


	

@media only screen and (min-width: 22em) {
	
	dl {
	/*
		Clearfix: forces the <dl> to wrap around its floated children
	*/
		overflow: hidden;
	}
	
	dt {
		clear: both;
	}
	
	dd {
		clear: both;
	}
	
	dl {
		clear:both;
	}
	
	
}

@media only screen and (min-width: 40em) {
	
	h1 {
		text-align:left;
		font-size:24px;
	}
	
	.subhead {
		text-align: left;
	}
	
	figure {
		float: left;
		width: 40%;
		margin: 0;
	}
	
	.main {
	float: right;
	width: 55%;	
	margin-right: 2%;
	}
	
	.quote {
		clear:both;
	}
	
	dt {
		clear: both;
	}
	
	dd {
		clear: both;
	}
	
	dl {
		margin-top: 0;
	}
		
}

@media only screen and (min-width: 60em) {
	
	figure {
		float: left;
		width: 40%;
		margin: 0;
	}
}

@media only screen and (min-width: 80em) {
	
	figure {
		float: left;
		width: 40%;
		margin: 0;
	}
}
